body {
    color: rgb(255, 255, 255);
    background: rgb(29, 28, 28);
    margin: 0px;
   font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px; 
}


header {
    border-bottom: solid 2px rgb(252, 252, 246);
    padding: 20px;
    font-size: 32px;
    color: rgb(241, 240, 240);
}

.chamada {
    background: rgb(35, 141, 58);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 200px;
    padding-right: 20px;
}

.categoria-videos  img  {
        opacity: 0.5; 
        height: 200px;
    }

    .categoria-videos  img:hover {
        opacity: 1.0; 
        border: 5px solid rgb(232, 238, 232);
    }
    
   .categoria h2  {
    color: rgb(22, 67, 226);
   }
 
